<%= form_tag "/contact_added_url", method: :post do %>

<div>
First Name: <input type="text" name="first_name"><br>
Last Name: <input type="text" name="last_name"><br>
Email: <input type="text" name="email"><br>
Phone Number <input type="text" name="phone_number"><br>
</div>

<input type="submit" value="Send me your data!">
<% end %>